# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Lasers.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Other\Unity\Projects\Lasers\.idea\.idea.Lasers\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
